*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @font-face {
    font-family: 'Prueba_imagen_letra';
    src: url("../assets/Prueba_imagen_letra-Regular.ttf");
} */
body{
    background-color: rgb(106, 243, 245);
}


.canvas{
   background-color: rgba(142, 122, 122, 0.317); 
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 
}