*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @font-face {
    font-family: 'Prueba_imagen_letra';
    src: url("../assets/Prueba_imagen_letra-Regular.ttf");
} */
body{
    background-color: rgb(0, 0, 0);
}



.messi-container{
    position: relative;
    margin: 150px auto;
    width: 300px;
    height: 500px;
     border: 1px #ffffff solid;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
   /*   */
   z-index: 1;
   filter: blur(0.06rem) contrast(1);
}



img{
    display: block;
    position: absolute;
    top: 34%;
    left: -30%;
    z-index: -1;
  width: 500px;
  height: 327px;
    
opacity: 0;
filter: blur(0rem);

}

.canvas-name{
  
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  z-index: 20;
 

}


.canvas{
 border: red 1px solid;
    position: absolute;
   top: 100%;
   left: 50%;
   transform: translate(-50%, -50%);
  z-index: 20;
}


@font-face {
    font-family: "Messi";
    src: url("../assets/Messi-Regular.ttf");
}
.canvas-img{
    
     position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -4;
 }